:root {
    --parentDiv-background-color: #f3f3f3;
    --sentence-text-color: #0744b6;
    --timeBar-background-color: #6B7AA1;
    --underLine-text-color: #36378b;
    --correct-text-color: #707070a6;
    --wrong-text-color: #D54C4C;
    --underLine-background-color: #0F52BA;
    --hover-background-color: #f3f3f3;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background: rgba(0, 233, 0, .1); */
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-size: 100%;
    font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn";
    width: 100vw;
    height: 100vh;
}

div.parentDiv {
    background: var(--parentDiv-background-color);
    width: 100%;
    height: 100%;
}

div.whiteSpace {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20rem;
    width: 70rem;
    min-width: 50rem;
    background: whitesmoke;
    scroll-behavior: smooth;
}

div.sentenceCol {
    font-size: 1.7rem;
    line-height: 2.5rem;
    width: 100%;
    display: flex;
    color: var(--sentence-text-color);
    flex-wrap: wrap;
    letter-spacing: 3px;
}

div.sentenceCol::-webkit-scrollbar {
    width: 0;
}

div.flexParent {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

div.flexItem {
    position: relative;
}

div.flexParent>div.flexItem {
    padding: .1rem .3rem;
}

div.underLine {
    position: relative;
    color: var(--underLine-text-color);
}

div.underLine::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    border-radius: 9rem;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    height: .3rem;
    animation: blink .9s infinite;
}

@keyframes blink {

    0%,
    100% {
        background: var(--underLine-background-color);
    }

    50% {
        background: transparent;
    }
}

div.blackHover {
    display: none;
    font-family: monospace;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

div.hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: max-content;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    align-items: center;
    background: var(--hover-background-color);
    color: var(--underLine-background-color);
    font-size: 4rem;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}

span.states {
    font-size: 2rem;
    margin: 2rem;
    color: teal;
}

span.states>span {
    margin: 2rem;
}

div.hover>button {
    cursor: pointer;
    width: 10rem;
    border: none;
    color: var(--hover-color);
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 2px;
    border-radius: 2rem;
    padding: .4rem;
    transition: .3s all ease;
}

div.hover>button:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    transform: scale(1.1);
}

.timeBar {
    position: fixed;
    top: 0;
    left: 0;
    height: .3rem;
    background: var(--timeBar-background-color);
    border-radius: 0 8rem 8rem 0;
    transition: 1s all ease;
}

.correct {
    color: var(--correct-text-color);
}

.wrong {
    color: var(--wrong-text-color);
}

.floating {
    position: absolute;
    top: 105%;
    left: 50%;
    color: var(--wrong-text-color);
    transform: translateX(-50%);
    animation: shake 1s forwards;
}

.tooltip {
    position: absolute;
    padding: .4rem 1rem;
    border-radius: .5rem;
    background: grey;
    font-size: 1.8rem;
    width: max-content;
    color: azure;
    z-index: 999999;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background: grey;
    border-top: 10px solid grey;
    border-bottom: 10px solid whitesmoke;
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
}


@keyframes shake {
    0% {
        top: 90%;
        filter: opacity(100%);
    }

    75% {
        top: 115%;
        left: 35%;
        filter: opacity(25%);
    }

    100% {
        top: 120%;
        left: 55%;
        filter: opacity(0%);
    }
}